/**estilos para el body*/

body {
    font-family: fantasy;
    background-color: rgb(158, 219, 230);
  }
  
  header {
    background-color: rgb(255, 255, 255);
  }
  
  p {
    font-weight: bold;
  }
  #p1 {
    background-color: rgb(241, 241, 241);
  }
  
  .perfil {
    width: 25%;
    border: 10px solid salmon;
    border-radius: 5%;
  }
  
  /*ESTILO DE LA SECCION 4*/
  ul{ list-style-type:unset
  
  }
  ol{
    list-style-type:decimal;
    font-style: italic;
  }
  
  table {
  padding: 40px;
  } 
  td, th{
    border: 2px solid rgb(207, 150, 150);background-color: aqua ;
    color: rgb(219, 207, 207);
  }
  

  
  input [type="text"], input[type="number"] ,input[type=""]
{
width: 580px;
border-radius: 10px; 
padding: 15xp auto;
}
.buttonl{
background-color:azure;

 color:red;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
margin: 4px 2pxs;
cursor: pointer;
}

.buttonl:hovert{
border: Bgreen 2px solid;
box-shadow: Spx Spx Spx Dlgreen;
font-size: 20px;
color: Ebrom;
border-collapse: collapse;
width:"100 px";
border: 1px solid Delack;

text-align: left;
padding: Spx;

}


header{
  background-color: rgb(211, 211, 80);
  border: radius 10px;;
padding: 1rem;
}
  padi
  nav{
    background-color:beige ;
  }
  aside{
    background-color:brown ;
  }
  footer{
    background-color:darkslategray ;
  }
  body{ 
    background: linear-gradient( );
  }
 